@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-family: "Press Start 2P", system-ui;
}

.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background-color: #1E1B26;
}

.computer-container, .player-container {
    display: flex;
    width: 65vw;
    align-items: flex-start;
    justify-content: space-between;
}

.computer-status, .player-status {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #373145;
    font-size: 12px;
}

.computer-status {
    margin-top: 50px;
}

.computer-choice, .player-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#computer-choice-img, #player-choice-img {
    width: 200px;
    height: 200px;
}

#computer-choice-img {
    rotate: -120deg;
    filter: saturate(0);
}

.result-text {
    margin-bottom: 30px;
}

#player-choice-img {
    rotate: 60deg;
    filter: saturate(0);
}

.computer-choice-shadow, .player-choice-shadow {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 50%;
    filter: blur(3px);
    width: 200px;
    height: 20px;
}

#computer-healthbar-container, #player-healthbar-container {
    background-color: rgba(0, 0, 0, .25);
    width: 200px;
    border-radius: 5px;
}

#player-healthbar-container {
    margin-left: 25px;
}

#computer-healthbar, #player-healthbar {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background-color: #40FF39;
}

.result-text {
    font-size: 24px;
}

.player-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.choices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.choice-button {
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #2e283d;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    box-shadow: 0 -5px 2px 4px rgba(0, 0, 0, .25) inset, 0 4px 5px 1px rgba(0, 0, 0, .5);
}

#rock {
    background-image: url(./img/rock-front.png);
    
}

#rock:hover {
    box-shadow: 0 -5px 2px 4px rgba(0, 0, 0, .25) inset, 0 4px 5px 1px rgba(255, 50, 136, .5);
}

#rock:active {
    box-shadow: 0 1px 2px 4px rgba(0, 0, 0, .25) inset, 0 4px 5px 1px rgba(255, 50, 136, .75);
}

#paper {
    background-image: url(./img/paper-front.png);
}

#paper:hover {
    box-shadow: 0 -5px 2px 4px rgba(0, 0, 0, .25) inset, 0 4px 5px 1px rgba(50, 251, 255, 0.5);
}

#paper:active {
    box-shadow: 0 1px 2px 4px rgba(0, 0, 0, .25) inset, 0 4px 5px 1px rgba(50, 251, 255, 0.75);
}

#scissors {
    background-image: url(./img/scissors-front.png);
}

#scissors:hover {
    box-shadow: 0 -5px 2px 4px rgba(0, 0, 0, .25) inset, 0 4px 5px 1px rgba(255, 220, 50, 0.5);
}

#scissors:active {
    box-shadow: 0 1px 2px 4px rgba(0, 0, 0, .25) inset, 0 4px 5px 1px rgba(255, 220, 50, 0.75);
}

#play-again-button {
    padding: 5px;
    display: none;
}