.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.results {
    font-size: 24px;
}

.choices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.choice-button {
    padding: 5px;
}